@import '../../theme/variables';
@import '../../theme/utilities';

.aboutWrapper {
  align-items: center;
  justify-content: space-around;

  font-size: $fontS;
}

%columnFlexCenter {
  @extend %flex-center;
  flex-direction: column;
}

.header {
  @extend %columnFlexCenter;

  > image {
    $imgH: rpx(150);
    width: $imgH;
    height: $imgH;
    margin: rpx(10);
  }
}

.textWrapper {
  @extend %columnFlexCenter;
  margin: 0 rpx(30) $space;

  font-size: $fontS;
}

.line {
  height: rpx(1);
  width: rpx(250);
  margin: rpx(30) 0;
  background-color: $fontColorLight;
}

.copyright {
  @extend %columnFlexCenter;

  font-size: rpx(26);
  color: lighten($fontColor, 20%);

  > text {
    display: block;
  }
}
