@import '../../theme/variables';
@import '../../theme/utilities';

.forecastWrapper {
  margin: 0 $space $space;
  width: rpx(670);
  height: rpx(130);
  display: flex;
  align-items: flex-end;

  font-size: $fontS;

  > .line {
    width: rpx(1);
    height: rpx(100);
    margin: 0 rpx(10);

    background-color: $lineColor;
  }

  > .itemWrapper {
    flex: 1;
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
  }

  %itemText {
    width: 100%;
    height: rpx(36);
    @extend %flex-center;
  }

  .itemDate {
    @extend %itemText;
    font-weight: 700;
  }

  .itemPicWrapper {
    width: 100%;
    height: 0;
    flex: 1;
    @extend %flex-center;

    > image {
      display: block;
      height: rpx(40);
      width: rpx(56);
      opacity: .6;

      margin: 0 rpx(5);
    }
  }

  .itemTemperature {
    @extend %itemText;
  }
}

