@import '../../theme/variables';
@import '../../theme/utilities';

.fullContainer {
  align-items: center;
  justify-content: space-between;
}

// common
.kazariLine {
  height: rpx(1);
  width: rpx(290);
  margin: rpx(20) $space;
  background-color: $lineColor;
  align-self: flex-start;
}

.emptyHeight {
  height: 5%;
}

// parts
@import './bgCircle';
@import './currentCity';
@import './temperature';
@import './pm25';
@import './weatherDesc';
@import './forecast';

