@import '../../theme/variables';

$tmpNumH: 100rpx;

.weather-tmp-block {
  width: 350rpx;
  height: $tmpNumH;
  margin: $space;
  align-self: flex-start;

  display: flex;
  justify-content: flex-start;
  padding-bottom: $space;

  border-bottom: 1rpx solid $fontColorLight;
}

.weather-tmp-num {
  height: $tmpNumH;
  font-weight: 500;
  font-size: $tmpNumH;
  line-height: $tmpNumH;
}
.weather-tmp-unit {
  font-weight: 500;
  line-height: $fontM;
}


.weather-cond-icon {
  width: 150rpx;
  height: 150rpx;
}

.weather-cond-txt,
.weather-location-txt {
  font-size: $fontS;
  font-weight: 700;
  color: $fontColorLight;
}


.weather-tmp-num {
  height: 100rpx;
  font-weight: 500;
  font-size: 100rpx;
}





