@import '../../theme/variables';
@import '../../theme/utilities';

.fullContainer {
  align-items: center;
  justify-content: space-between;
}

// common
.kazariLine {
  height: rpx(1);
  width: rpx(290);
  margin: rpx(30) $space;
  background-color: $fontColorLight;
  align-self: flex-start;
}

.emptyHeight {
  height: 10%;
}

.bgCircle {
  $bgCircleH: rpx(440);

  @extend %abs;
  z-index: 0;
  top: 22%;
  right: rpx(-200);
  width: $bgCircleH;
  height: $bgCircleH;

  border-radius: 50%;
  background-color: #EFD13F;
  opacity: .9;
  transition: opacity 2s;
}

.bgCircleHover {
  opacity: .6;
}

.currentCityWrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: $space;
  width: rpx(500);
  height: rpx(98);

  text {
    display: block;
    height: rpx(90);
    line-height: rpx(90);
    font-size: rpx(50);
    font-weight: 700;
  }
}

.currentCityKazari {
  @extend %rel;
  height: rpx(1);
  background-color: $fontColorLight;

  .thick {
    @extend %abs;
    left: 0;
    top: rpx(-2);
    height: rpx(8);
    width: rpx(40);

    border-radius: rpx(4);
    background-color: $fontColor;
  }
}

.maxMinTemperature {
  $maxMinTemperatureSize: rpx(30);

  align-self: flex-start;
  height: $maxMinTemperatureSize;
  margin-left: $space;

  line-height: $maxMinTemperatureSize;
  font-size: $maxMinTemperatureSize;
  font-weight: 400;
}

$temperatureNumSize: 160rpx;
.temperatureWrapper {
  height: $temperatureNumSize;
  width: rpx(710);
  margin-left: $space;
  display: flex;
}

.temperatureNum {
  height: 100%;
  margin-right: rpx(10);

  line-height: $temperatureNumSize;
  font-size: $temperatureNumSize;
}

.temperatureRight {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.temperatureUnit {
  $temperatureUnitSize: rpx(64);
  height: $temperatureUnitSize;
  line-height: $temperatureUnitSize;
  font-size: $temperatureUnitSize;

  font-weight: 700;
}

.showDay {
  $showDaySize: rpx(35);
  height: $showDaySize;
  margin-left: rpx(10);
  line-height: $showDaySize;
  font-size: $showDaySize;

  font-weight: 700;
}

.pm25Wrapper {
  $pm25H: rpx(60);

  height: $pm25H;
  margin-left: $space;
  width: rpx(710);
  display: flex;

  > image {
    display: block;
    height: $pm25H;
    width: $pm25H;
    margin-right: rpx(20);
  }

  > text {
    display: block;
    flex: 1;
    height: $pm25H;

    line-height: $pm25H;
    font-size: $fontS;
  }
}

.weatherDescWrapper {
  margin-left: $space;
  align-self: flex-start;

  > text {
    display: block;
    height: $fontS;
    margin: rpx(10) 0;

    line-height: $fontS;
    font-size: $fontS;
  }
}

.weatherPicWrapper {
  $weatherPicH: rpx(40);
  height: $weatherPicH;
  display: flex;
  margin: rpx(10) 0 rpx(20);

  > image {
    display: block;
    height: $weatherPicH;
    width: rpx(56);

    margin-right: rpx(10);
  }
}

.forecastWrapper {
  margin: 0 $space rpx(60);
  width: rpx(670);
  height: rpx(130);
  display: flex;
  align-items: flex-end;

  font-size: $fontS;

  > .line {
    width: rpx(1);
    height: rpx(100);
    margin: 0 rpx(10);

    background-color: $fontColorLight;
  }

  > .itemWrapper {
    flex: 1;
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
  }

  %itemText {
    width: 100%;
    height: rpx(36);
    @extend %flex-center;
  }

  .itemDate {
    @extend %itemText;
    font-weight: 700;
  }

  .itemPicWrapper {
    width: 100%;
    height: 0;
    flex: 1;
    @extend %flex-center;

    > image {
      display: block;
      height: rpx(40);
      width: rpx(56);

      margin: 0 rpx(5);
    }
  }

  .itemTemperature {
    @extend %itemText;
  }
}


