/*---------------------------
 * font-size
 *---------------------------*/
$fontS: 30rpx;
$fontM: 40rpx;
$fontL: 50rpx;

/*---------------------------
 * color
 *---------------------------*/
/* default font color */
$fontColor: #4C4C4C;

$fontColorLight: #aaa;

/* default background color */
$bgc: #f2f2f2;

/* other color */
$colorGreen: #09ce6e;

/*---------------------------
 * layout
 *---------------------------*/
/* default space */
$space: 40rpx;

