/*---------------------------
 * font-size
 *---------------------------*/
$fontS: 40rpx;
$fontM: 46rpx;
$fontL: 56rpx;

/*---------------------------
 * color
 *---------------------------*/
/* default font color */
$fontColor: #555;

$fontColorLight: #999;

/* default background color */
$bgc: white;

/* other color */

/*---------------------------
 * layout
 *---------------------------*/
/* default space */
$space: 40rpx;

