@import '../../theme/variables';
@import '../../theme/utilities';

.itemWrapper {
  $itemBorder: rpx(1) solid darken($bgc, 5%);

  @extend %flex-center;
  justify-content: flex-start;
  height: rpx(120);

  border-top: $itemBorder;
  background-color: lighten($bgc, 2%);
  font-size: $fontS;

  &:last-of-type {
    border-bottom: $itemBorder;
  }

  text {
    font-size: $fontS;
  }
}

.suggestIcon {
  $iconH: rpx(60);

  width: $iconH;
  height: $iconH;
  margin-right: rpx(20);
  margin-left: $space;
}

.zs {
  margin-left: auto;
  margin-right: rpx(20);
}

.rightIcon {
  $iconH: rpx(28);
  width: $iconH;
  height: $iconH;
  margin: 0 rpx(20);
}
