@import './theme/variables';

page {
  height: 100%;

  font-size: $fontM;
  color: $fontColor;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}